
#calculator {
  width: 280px;
  background-color: grey;
  margin: 0 auto;
  padding: 10px;
}

#buttons button {
  width: 37px;
  height: 37px;
  margin: 15px auto;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  padding:25px
}
#buttons {
  margin: auto;
  width: 230px;
}

#lcd {
  width: 250px;
  height:100px;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
  text-align: right;
}
#history {
  opacity: 0.5;
}
